<?xml version="1.0"?>
<launch>

  <!-- Detect objects action server -->
  <include file="$(find ist_object_detection)/launch/object_detection_gazebo.launch"/>


  <!-- Detect objects action client -->
  <!--<node pkg="perception" name="detect_objects_client" type="detect_objects_client.py" respawn="true" output="screen"/>-->

</launch>

